:root {
	--background: #ffffff;
	--foreground: #171717;
	--border-color: #e5e5e5;
	--hover-color: rgba(0, 0, 0, 0.05);
	--primary-color: #0070f3;
	--primary-hover-color: #0060df;
	--card-background: #ffffff;
	--secondary-text: #666666;
	--TotalWidth: 1280px;
}

html,
body {
	overflow-x: hidden;
	width: 100vw;
	min-height: 100vh;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist-sans), Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

#main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--background);
	color: var(--foreground);
}

.main {
	display: flex;
	flex-direction: column;
	gap: 32px;
	padding: 32px 0;
}

.page-content {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 65px 0;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 24px;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0 16px;

	@media (min-width: 1280px) {
		width: var(--TotalWidth);
		padding: 0 32px;
		margin-left: auto;
		margin-right: auto;
	}
}